.Rproj.user
.Rhistory
.RData
.Ruserdata
/index_files/
gmac-labchart-24.log
gmac-labchart-24.html
/gmac-labchart-24_cache/
/gmac-labchart-24_files/
/output-mod/bayes-regs/
additional_code.Rmd
.RDataTmp
/ignore/
/input-data/labchart-all-dates.xlsx
/input-data/labchart-all-dates_v2.xlsx
/input-data/labchart-all-dates_v3.xlsx
.gitignore